<div
  class="navbar-component flex justify-between items-center bg-gray-800 py-4 px-3"
>
  <div class="flex justify-center cursor-pointer">
    <img
      src="../../../../assets/main_logo.jpg"
      alt="Logo"
      class="h-14 w-auto rounded-md"
      (click)="navigateHome()"
    />
  </div>

  <!-- Start Section for Logo -->
  <div class="flex-1 flex justify-center items-center px-4 min-h-full relative">
    <div class="absolute left-10 bottom-[-30px]">
      <p-menubar [model]="items" />
    </div>
    <span class="font-bold text-xl text-white"
      >NETLINK INTEGRATION PLATFORM</span
    >
  </div>

  <div class="flex item-center gap-5 text-white">
    <button class="bg-none" (click)="navigateVersion()">
      <h3 class="">V1.3</h3>
    </button>
    <p-button
      (onClick)="logout()"
      severity="danger"
      label="Log Out"
      [outlined]="true"
      class="flex"
    />
  </div>
  <!-- <div class="card flex justify-content-center">
    <p-menu #menu [model]="items" [popup]="true" />
    <p-button
      (onClick)="menu.toggle($event)"
      icon="pi pi-ellipsis-v"
      severity="info"
    />
  </div> -->
</div>
