<div
  class="navbar-component flex justify-between items-center bg-[#004d85] py-3 px-3"
>
  <div class="flex justify-center cursor-pointer">
    <img
      src="../../../../assets/main_logo.jpg"
      alt="Logo"
      class="h-14 w-auto rounded-md"
      (click)="navigateHome()"
    />
  </div>

  <!-- Start Section for Logo -->
  <div class="flex-1 flex justify-center items-center px-4 min-h-full relative">
    <div class="absolute left-10 bottom-[-40px] z-10">
      <p-menubar [model]="[items[0], items[1]]" />
    </div>
    <div class="absolute right-10 bottom-[-40px] z-10">
      <p-menubar [model]="[items[2]]" />
    </div>
    <div class="relative w-full flex justify-center items-center">
      <div class="absolute w-full grid place-content-center">
        <span class="font-bold text-xl text-white"
          >NETLINK INTEGRATION PLATFORM</span
        >
        <span class="font-bold text-base text-white text-center"
          >IPLA REPLACEMENT</span
        >
      </div>
    </div>
  </div>

  <!-- <div class="flex item-center gap-5 text-white">
    <button class="bg-none" (click)="navigateVersion()">
      <h3 class="">{{ lastVersion?.version ?? "" }}</h3>
    </button>
    <p-button
      (onClick)="logout()"
      severity="danger"
      label="Log Out"
      class="flex py-3"
      size="small"
    />
  </div> -->
  <div class="card flex justify-content-center">
    <p-menu #menu [model]="items1" [popup]="true" class="setting-nav" />
    <p-button
      class="navbar-icon"
      (onClick)="menu.toggle($event)"
      iconPos="right"
      label="{{ userName }}"
      icon="pi pi-chevron-down"
      severity="info"
    />
  </div>
</div>
