<div
  class="navbar-component flex justify-between items-center bg-gray-800 py-4 px-3"
>
  <div class="flex justify-center cursor-pointer">
    <img
      src="../../../../assets/main_logo.jpg"
      alt="Logo"
      class="h-14 w-auto rounded-md"
      (click)="navigateHome()"
    />
  </div>

  <!-- Start Section for Logo -->
  <div class="flex-1 flex justify-center items-center px-4 min-h-full relative">
    <div class="absolute left-10 bottom-[-35px]">
      <p-menubar [model]="items" />
    </div>
    <div class="relative">
      <span class="font-bold text-xl text-white"
        >NETLINK INTEGRATION PLATFORM</span
      >
      <div class="absolute bottom-[-100%] w-full grid place-content-center">
        <span class="font-bold text-base text-white "
          >IPLA REPLACEMENT</span
        >
      </div>
    </div>
  </div>

  <div class="flex item-center gap-5 text-white">
    <button class="bg-none" (click)="navigateVersion()">
      <h3 class="">{{ lastVersion?.version ?? "V1.4" }}</h3>
    </button>
    <p-button
      (onClick)="logout()"
      severity="danger"
      label="Log Out"
      [outlined]="true"
      class="flex"
    />
  </div>
  <!-- <div class="card flex justify-content-center">
    <p-menu #menu [model]="items" [popup]="true" />
    <p-button
      (onClick)="menu.toggle($event)"
      icon="pi pi-ellipsis-v"
      severity="info"
    />
  </div> -->
</div>
