/* You can add global styles to this file, and also import other style files */

// @tailwind base;
@tailwind components;
@tailwind utilities;

@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

body {
  margin: 0px;

  // max-height: 100vh;
  // max-width: 100vw;
  // height: 100vh;
  // width: 100vw;
}

body>* {
  font-family: Poppins !important;
}

.p-component,
.p-component *:not(.p-button-icon) {
  font-family: Poppins !important;
}

// :host {
//   display: flex;
//   flex-direction: column; /* Ensure child items stack vertically */
//   width: 100%; /* Full width */
//   height: 100%; /* Full height */
// }

.grid {
  margin: 0 !important;
}

.navbar-component {
  .p-menubar {
    padding: 0px;
    background: transparent !important;
    border: none;

    * {
      color: white;
    }
  }

  .p-menuitem-content {
    background: transparent;
  }

  .p-menuitem-content:hover {
    background: transparent;
  }

  .p-submenu-list {
    color: black !important;
    // background-color: rgb(31 41 55 / var(--tw-bg-opacity));
    background-color: #004d85 !important;
  }

  .p-menuitem-link {
    padding: 8px;
  }

  .p-menuitem-text {
    font-size: 14px;
  }

}

pre {
  margin-top: 0px !important;
}

.p-button {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}

thead tr th {
  background-color: #004d85 !important;
  color: white !important;
}

.p-dialog-maximized .dialog-content {
  height: 85vh !important;
}


p-sorticon svg{
  color: lightgrey !important;
}

